 body {
     font-family: Arial, Helvetica, sans-serif;
     background-color: rgb(178, 255, 229);
     margin: 0px;
     border: 0px;
     padding: 0px;
 }

 h1 {
     color: rgb(60, 4, 112);
 }

 #nameSpan {
     font-weight: bold;
 }